$base-color: #00A499;
$white-color: #fff;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    position: fixed;
    z-index: 1000000000000000;
}


nav {
    background-color: $base-color;
    a {
        color: $white-color !important;
    }
    button {
        color: $base-color !important;
        background-color: $white-color !important;
        border-color: $white-color !important;
    }
    &>div {
        display: flex;
        justify-content: space-between;
    }
}

.mainPage {
    position: relative;
}

.DownloadInput {
    position: absolute;
    top: 7%;
    right: 1%;
    button {
        width: 100%;
        font-size: 15px;
        background-color: $white-color;
        color: $base-color;
        border: 2px solid $base-color;
        &:hover {
            background-color: $base-color !important;
            border-color: $base-color !important;
        }
    }
}

.search {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;  
    form {
        width: 30%;
        label {
            font-size: 19px;
        }
    }  
    .formBtn {
        width: 100%;
        font-size: 22px;
        background-color: $white-color;
        color: $base-color;
        border: 2px solid $base-color;
    }
    .custom-input {
        width: 100%;
        font-size: 22px;
        background-color: $base-color ;
        border-color: $base-color;
    }
}